@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: v.$separacion;
    .campo {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        label {
            font-size: 2rem;
            margin-right: 1rem;
            font-weight: 100;
        }
        input {
            width: 30rem;
            flex: 1;
            border-radius: 2rem;
            padding: 1rem;
            border: none;
            background-color: lighten(v.$gris, 40%);
        }
    }
}